<div class="d-flex flex-row flex-nowrap flex-shrink-0" style="overflow: clip; max-height: 100vh; min-height: 100vh ">
  <app-chat-navigation class="overflow-y-scroll" style="overflow-y: auto; overflow-x: hidden;
   max-height: 100vh; border-right: 1px solid #9c9a9a"></app-chat-navigation>
  <div class="overflow-hidden d-flex justify-content-end flex-column" style="overflow: clip;
  max-width: calc(100% - 390px); min-width: calc(100% - 390px);">
    <app-chat-view style="overflow-y: scroll; overflow-x: hidden; max-height: calc(100% - 40px);
     min-height: calc(100% - 40px); min-width: calc(100%); width: 100%"></app-chat-view>
    <app-chat-input style=" max-height: 100px; min-width: calc(100%); width: 100%"></app-chat-input>
  </div>
</div>


